OSRM_REF=v5.27.1
VROOM_REF=v1.14.0
OSRM_BUILD_JOBS=2
VROOM_BUILD_JOBS=2

OSRM_PBF_URL=https://download.geofabrik.de/europe/monaco-latest.osm.pbf
OSRM_PROFILE=/opt/osrm-backend/profiles/car.lua
OSRM_INTERNAL_PORT=5001
OSRM_PUBLIC_PORT=5050

VROOM_TIMEOUT_SECONDS=30
